<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCy8J6kt2PRz2SolqCe6Rq87LBs0F5q91g</string>
	<key>GCM_SENDER_ID</key>
	<string>712567778818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ritu.raj7</string>
	<key>PROJECT_ID</key>
	<string>newprojectniva</string>
	<key>STORAGE_BUCKET</key>
	<string>newprojectniva.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712567778818:ios:488b72c8d3880f078d411b</string>
	<key>DATABASE_URL</key>
	<string>https://newprojectniva-default-rtdb.firebaseio.com</string>
</dict>
</plist>